<mat-toolbar class="header">
  <a mat-button routerLink=".">
      <img class="logo" src="assets/img/logo.png">
  </a>

  <button mat-button [matMenuTriggerFor]="menu" style="color: white; ">TAREFAS</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/task-list">Lista de Tarefas</button>
  </mat-menu>
  <span class="fill-remaining-space"></span>

  <button  mat-raised-button aria-label="Login" style="font-size: 15px" title="Login" routerLink="/login">LOGIN</button>
</mat-toolbar>

<div class="mainContent">
  <router-outlet></router-outlet>
  <mat-divider></mat-divider>
</div>

